.lt {
	display: grid;
	grid-template-columns: var(--lt-margin-width, 10rem) 1fr;

	& strong {
		grid-row: span 2;
		grid-column: 1;
	}

	&, & q {
		margin: 0;
	}

	& q {
		white-space: pre-wrap;
		grid-column: 2;

		&::before,
		&::after {
			content: "";
		}
	}

	/* Clickable styles for edit functionality */
	& .lt-clickable {
		cursor: pointer;
	}
}
