.lt {
	display: grid;
	grid-template-columns: var(--lt-margin-width, 10rem) 1fr;
	gap: 1rem;

	& strong {
		grid-row: 1;
		grid-column: 1;
	}

	&, & q {
		margin: 0;
	}

	& q {
		white-space: pre-wrap;
		grid-column: 2;

		&::before,
		&::after {
			content: "";
		}
	}
}
